<a href="https://colab.research.google.com/github/clyde2020/ML_Portfolio/blob/main/US%20Cancer%20Death%20Rates/Capstone_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load and view the data
cancer = '/content/cancer_reg.csv'
df = pd.read_csv(cancer, encoding='latin-1')
df.head(3)

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctPrivateCoverageAlone,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488

In [ ]:
# Get a quick look at some data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avgAnnCount              3047 non-null   float64
 1   avgDeathsPerYear         3047 non-null   int64
 2   TARGET_deathRate         3047 non-null   float64
 3   incidenceRate            3047 non-null   float64
 4   medIncome                3047 non-null   int64
 5   popEst2015               3047 non-null   int64
 6   povertyPercent           3047 non-null   float64
 7   studyPerCap              3047 non-null   float64
 8   binnedInc                3047 non-null   object
 9   MedianAge                3047 non-null   float64
 10  MedianAgeMale            3047 non-null   float64
 11  MedianAgeFemale          3047 non-null   float64
 12  Geography                3047 non-null   object
 13  AvgHouseholdSize         3047 non-null   float64
 14  PercentMarried           3047 non-null   float64
 15  PctNoHS18_24             3047 non-null   float64
 16  PctHS18_24               3047 non-null   float64
 17  PctSomeCol18_24          762 non-null    float64
 18  PctBachDeg18_24          3047 non-null   float64
 19  PctHS25_Over             3047 non-null   float64
 20  PctBachDeg25_Over        3047 non-null   float64
 21  PctEmployed16_Over       2895 non-null   float64
 22  PctUnemployed16_Over     3047 non-null   float64
 23  PctPrivateCoverage       3047 non-null   float64
 24  PctPrivateCoverageAlone  2438 non-null   float64
 25  PctEmpPrivCoverage       3047 non-null   float64
 26  PctPublicCoverage        3047 non-null   float64
 27  PctPublicCoverageAlone   3047 non-null   float64
 28  PctWhite                 3047 non-null   float64
 29  PctBlack                 3047 non-null   float64
 30  PctAsian                 3047 non-null   float64
 31  PctOtherRace             3047 non-null   float64
 32  PctMarriedHouseholds     3047 non-null   float64
 33  BirthRate                3047 non-null   float64
dtypes: float64(29), int64(3), object(2)
memory usage: 809.5+ KB

In [ ]:
# Which columns have null values
na_df=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)).reset_index()
na_df.columns = ['VarName', 'NullCount']
na_df[(na_df['NullCount']>0)]

                   VarName  NullCount
0          PctSomeCol18_24       2285
1  PctPrivateCoverageAlone        609
2       PctEmployed16_Over        152

In [ ]:
# Drop 1 column with lots of null values 
df.drop('PctSomeCol18_24', axis=1, inplace=True)
# Impute the mean for the other null values
df.PctPrivateCoverageAlone = df.PctPrivateCoverageAlone.fillna(df.PctPrivateCoverageAlone.mean())
df.PctEmployed16_Over = df.PctEmployed16_Over.fillna(df.PctEmployed16_Over.mean())

In [ ]:
# Confirm there are no more null values
df.info()

In [ ]:
# View binnedInc values
df.binnedInc.value_counts()

In [ ]:
# binnedInc and medIncome reflect the same info. We will get rid of binnedInc with dtype = object
df.drop('binnedInc', axis=1, inplace=True)

In [ ]:
# Geography column is split into individual cities. We prefer to have state info.
df['state'] = df['Geography'].str.split(',', expand=True)[1]

In [ ]:
df.groupby('state')['TARGET_deathRate'].mean().sort_values(ascending=False)

In [ ]:
# Check for duplicate rows
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [avgAnnCount, avgDeathsPerYear, TARGET_deathRate, incidenceRate, medIncome, popEst2015, povertyPercent, studyPerCap, MedianAge, MedianAgeMale, MedianAgeFemale, Geography, AvgHouseholdSize, PercentMarried, PctNoHS18_24, PctHS18_24, PctBachDeg18_24, PctHS25_Over, PctBachDeg25_Over, PctEmployed16_Over, PctUnemployed16_Over, PctPrivateCoverage, PctPrivateCoverageAlone, PctEmpPrivCoverage, PctPublicCoverage, PctPublicCoverageAlone, PctWhite, PctBlack, PctAsian, PctOtherRace, PctMarriedHouseholds, BirthRate, state]
Index: []

[0 rows x 33 columns]

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
avgAnnCount,3047.0,606.338544,1416.356223,6.000000,76.000000,171.000000,518.000000,3.815000e+04
avgDeathsPerYear,3047.0,185.965868,504.134286,3.000000,28.000000,61.000000,149.000000,1.401000e+04
TARGET_deathRate,3047.0,178.664063,27.751511,59.700000,161.200000,178.100000,195.200000,3.628000e+02
incidenceRate,3047.0,448.268586,54.560733,201.300000,420.300000,453.549422,480.850000,1.206900e+03
medIncome,3047.0,47063.281917,12040.090836,22640.000000,38882.500000,45207.000000,52492.000000,1.256350e+05
popEst2015,3047.0,102637.370528,329059.220504,827.000000,11684.000000,26643.000000,68671.000000,1.017029e+07
povertyPercent,3047.0,16.878175,6.409087,3.200000,12.150000,15.900000,20.400000,4.740000e+01
studyPerCap,3047.0,155.399415,529.628366,0.000000,0.000000,0.000000,83.650776,9.762309e+03
MedianAge,3047.0,45.272333,45.304480,22.300000,37.700000,41.000000,44.000000,6.240000e+02
MedianAgeMale,3047.0,39.570725,5.226017,22.400000,36.350000,39.600000,42.500000,6.470000e+01
MedianAgeFemale,3047.0,42.145323,5.292849,22.300000,39.100000,42.400000,45.300000,6.570000e+01
AvgHouseholdSize,3047.0,2.479662,0.429174,0.022100,2.370000,2.500000,2.630000,3.970000e+00
PercentMarried,3047.0,51.773679,6.896928,23.100000,47.750000,52.400000,56.400000,7.250000e+01
PctNoHS18_24,3047.0,18.224450,8.093064,0.000000,12.800000,17.100000,22.700000,6.410000e+01
PctHS18_24,3047.0,35.002068,9.069722,0.000000,29.200000,34.700000,40.700000,7.250000e+01
PctBachDeg18_24,3047.0,6.158287,4.529059,0.000000,3.100000,5.400000,8.200000,5.180000e+01
PctHS25_Over,3047.0,34.804660,7.034924,7.500000,30.400000,35.300000,39.650000,5.480000e+01
PctBachDeg25_Over,3047.0,13.282015,5.394756,2.500000,9.400000,12.300000,16.100000,4.220000e+01
PctEmployed16_Over,3047.0,54.152642,8.104942,17.600000,48.900000,54.152642,60.000000,8.010000e+01
PctUnemployed16_Over,3047.0,7.852412,3.452371,0.400000,5.500000,7.600000,9.700000,2.940000e+01
PctPrivateCoverage,3047.0,64.354939,10.647057,22.300000,57.200000,65.100000,72.100000,9.230000e+01
PctPrivateCoverageAlone,3047.0,48.453774,9.018885,15.700000,43.100000,48.453774,53.800000,7.890000e+01
PctEmpPrivCoverage,3047.0,41.196324,9.447687,13.500000,34.500000,41.100000,47.700000,7.070000e+01
PctPublicCoverage,3047.0,36.252642,7.841741,11.200000,30.900000,36.300000,41.550000,6.510000e+01
PctPublicCoverageAlone,3047.0,19.240072,6.113041,2.600000,14.850000,18.800000,23.100000,4.660000e+01
PctWhite,3047.0,83.645286,16.380025,10.199155,77.296180,90.059774,95.451693,1.000000e+02
PctBlack,3047.0,9.107978,14.534538,0.000000,0.620675,2.247576,10.509732,8.594780e+01
PctAsian,3047.0,1.253965,2.610276,0.000000,0.254199,0.549812,1.221037,4.261942e+01
PctOtherRace,3047.0,1.983523,3.517710,0.000000,0.295172,0.826185,2.177960,4.193025e+01
PctMarriedHouseholds,3047.0,51.243872,6.572814,22.992490,47.763063,51.669941,55.395132,7.807540e+01
BirthRate,3047.0,5.640306,1.985816,0.000000,4.521419,5.381478,6.493677,2.132616e+01